.container__main {
  width: 100%;
  height: 415px;
  margin-bottom: 56px;
}

.container__content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.container__content img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
right: 0;
bottom: 0;
margin: 0 auto;
  height: 415px;
  border-radius: 16px;
}

.container__text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__text h1 {
  font-family: "Dancing Script", cursive;
  color: var(--color-background);
  font-size: 60px;
  margin: 0;
}

.container__text h2 {
  font-family: "Inspiration", cursive;
  color: var(--color-background);
  font-size: 40px;
  margin-top: 8px;
}
