.container__content{
    padding: 24px;
    font-family: Merriweather Sans;
    color: var(--color-font);
}

.container__form{
    display: flex;
    flex-direction: column;
}

.message_error{
    color: red;
}

.container__form label{
    margin-bottom: 8px;
}

.container__search_list{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 16px;
}

.container__listado{
    border-radius: 16px;
    margin: 0;
    margin-top: 4px;
    padding: 8px;
    height: 140px;
    overflow-y: auto;
    transition: all 0.1s ease-in-out;
}

.container__search_result{
    margin-bottom: 16px;
    position: relative;
}

.container__search_result input{
    width: 100%;
}

.container__listado li{
    padding:0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    line-height: 20px;
    padding: 8px;
}

.container__listado li:hover{
    color: #000;
    font-weight: 1000;
}

.container__search_list input{
    border: none;
    outline: none !important;
    background-color: transparent;
    height: 20px;
    font-size: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}

.container__inputs_confirm{
    width: 100%;
    margin-top: 32px;
}

.container__label_input{
    margin: 24px 0;
    display: flex;
    flex-direction: column;
}

.container__label_input label{
    margin: 0;
    margin-bottom: 8px ;
}

.container__searchIcon{
    position: absolute !important;
    right: 0;
    bottom: 0;
}

.container__search{
    display: flex;
    flex-direction: column;
    position: relative;
}

.container__search input{
    border: none;
    outline: none !important;
    background-color: transparent;
    height: 20px;
    font-size: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}